/* ======= general ======= */
body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ======= Logo,title,description,credits, and translucent background div ======= */
#header{
  width:955px;
  height:185px;
  background-color: rgba(255, 255, 255, 0.8);
  background-size:1040px 205px;
  box-shadow: 5px 5px 5px #bbb;
  position:absolute;
  z-index:9;
}
.subhead-text {
    font-size: 14px;
    font-weight: normal;
}
img{
  width:153px;
  height:76px;
  color:#5b6c62;
  z-index:9;
  position:absolute;
  display:block;
}
#pageTitle{
  display:block;
  z-index:9;
}
h1{
  font-family: Lato,sans-serif;
  color:#5b6c62;
  z-index:9;
  position:absolute;
  display:block;
  margin-left: 150px;
}

#description{
  z-index:9;
  position:absolute;
  float:none;
  font-family:Lato,sans-serif;
  font-size:14px;
  color:#5b6c62;
  margin-top:55px;
  margin-left:20px;
}
a:link{
  text-decoration:none;
  color:#0072bc;
}
a:visited{
  color:red;
}
a:hover{
  color:#54ab66;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* ======= menu positions ======= */
#mapMenu, #error-box, #info {
    position: absolute;
    float: left;
    left: 20px;
    width: 214px;
/*I changed the starting position of the menu by 65px*/
    margin-top:65px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 5px #bbb;
    border-radius: 2px;
    z-index: 9;
}
#menuDrag, #infoDrag, #errorFixed {
    margin: 0;
    padding: 10px;
    background-color: #5b6c62;
}
#mapMenu {
    top: 20%;
    height: auto;
    padding-bottom: 15px;
}
#error-box {
    display: none;
    top: 65%;
    padding-bottom: 8px;
    z-index: 99;
}
#info {
    top: 82%;
    height: 120px;
}

/* ======= info ======= */
#loc > p {
    margin: 4px 10px;
    padding: 4px;
    font-size: 14px;
    background-color: rgba(250, 250, 250, 1);
}

/* ======= menu ======= */
.box-label {
    margin: 0;
    color: white;
    font-family:Lato,sans-serif;
    font-weight: bold;
    font-size:16px;
}
.filter-label {
    margin-left: 4px;
    color: #5b6c62;
    font-weight: normal;
}
#hoverText, .locText {
    display: block;
    position: relative;
    height: 20px;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    background-color: #eee;
}
#hoverText {
    margin: 10px 10px;
    width: 180px;
    color: red;
}
.locText {
    display: inline-block;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 6px;
    color: #5b6c62;
}

/* == filters */
#filters {
    width: 178px;
    margin-left: 10px;
    color: #5b6c62;
    background-color: rgba(250, 250, 255, 1);
    border-collapse: collapse;
    border: 2px solid #5b6c62;
}
.table-header {
    height: 30px;
    background-color: #ddd;
}
#clearAll {
    height: 40px;
}
.td-r {
    height: 20px;


}
.td-b {
    width: 20px;
    height: 20px;
}
.td-s {
    height: 4px;
}

/* == regions */
.region {
    width:inherit;
    height:auto;
    /*height: 22px;*/
    margin: 2px 0 2px 20px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    color: #5b6c62;
    background-color: white;
    border: 2px solid #5b6c62;
    border-radius: 2px;
}
.region:hover {
    color: white;
    background-color: red;
    border: 2px solid blue;
}
.region.selected {
    color: white;
    background-color: #5b6c62;
}
#clearAll-r, #clearAll-b {
    width: 36px;
    height: 22px;
    margin: 0 0 2px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #5b6c62;
    background-color: #ccc;
    border: 2px solid #5b6c62;
    border-radius: 2px;
}
.label-r, .label-x {

    margin-top: 3px;
    font-weight: bold;

}

/* == buffers */
.buffer {
    /*visibility: hidden;*/
    background-color: #ddd;
    border: 2px solid #ddd;
}
.buffer.entered {
    background-color: red;
    border: 2px solid #5b6c62;
}
.buffer.selected {
    border: 2px solid #5b6c62;
}
.ft500 {
    width: 8px;
    height: 8px;
    margin-top: 7px;
    margin-left: 4px;
    border-radius: 6px;
}
.ft1000 {
    width: 10px;
    height: 10px;
    margin-top: 6px;
    margin-left: 3px;
    border-radius: 7px;
}
.ft2500 {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 8px;
}
.ft5280 {
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 15px;
    border-radius: 9px;
}

/* == errors */
#error-box button {
    background-color: #5b6c62;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 7px 13px;
    display: block;
    margin: auto;
    margin-top: 14px;
}
#error-text {
    display: block;
    margin: 8px 15px;
    color: red;
}
